@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


a {
    text-decoration: none;
    color: #000000;
}

a.logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 56px;
    margin-left: 85px;
}

ul {
    list-style-type: none;
}

ul.navigation-group {
    float: right;
    margin-right: 65px;
}

.navigation-items {
    float: left;
    margin-right: 50px;
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

#nav-connect {
    margin-right: 0px;
}

nav {
    margin-top: 29px;
}

.section#homepage {
    background-image: url('../images/hero-image.png');
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 100vh;
}

.fp-overflow {
    height: 100vh;
}
main {
    display: flex;
    flex-direction: row;
}
.homepage-division {
    width: 100%;
    padding-left: 70px;
    padding-top: 200px;
}

.homepage-division h1 {
    font-size: 70px;
    font-weight: 900;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    line-height: 70px;
    font-style: normal;
    margin: 0 auto;
    margin-bottom: 14px;
}

.homepage-division h4 {
    font-style: italic;
    font-weight: 500;
    font-size: 29px;
    line-height: 32px;
    letter-spacing: -0.02em;
    margin: 0 auto;
    text-transform: uppercase;  
    margin-bottom: 24px;
    font-family: 'Heebo', sans-serif;
}

.button-black {
    width: 291px;
    height: 60.8px;
    background: #1C1C1C;
    font-family: 'Heebo', sans-serif;;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-width: 0px;
    margin-right: 16px;
}

button {
    cursor:pointer;
}

.button-yellow {
width: 313px;
height: 82px;
left: 393px;
border-width: 0px;
font-family: 'Heebo', sans-serif;;
background: #FFBD59;
font-style: normal;
font-weight: 900;
font-size: 24px;
text-transform: uppercase;
color: #1C1C1C;
margin-left: 16px;
}

.button-yellow:active {     
    background-color:#ffe8c6;    
}

.yellow-border {
    border-color: #1C1C1C;
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60.8px;
}

.yellow-border:active {
    border-color: #919191;
    color: #919191;
}

.button-black:active {     
    background: #919191;
}

.button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}


html {
    caret-color: transparent;
}

.socials-logo {
    width: 36.83px;
    height: 36px;
}

#connectpage .socials-logo {
    width: 50.83px;
    height: 50px;
    margin: 0 10px;
}

.socials-row {
    margin-top: 33px;
}

#second-half {
    width: 0;
}

.section#resumepage {
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

#resumepage h1, #portfoliopage h1, #connectpage h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 128px;
    font-weight: 900;
    margin: 0;
    font-style: normal;
    align-items: center;
    text-align: center;
    line-height: 1em;
    text-transform: uppercase;

}

.caption {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    margin: 0 auto;
    margin-bottom: 40px;
}

#resumepage .button-black {
    border: 2px solid #FFFFFF;
}

#resumepage .fp-overflow, #portfoliopage .fp-overflow, #connectpage .fp-overflow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    text-transform: uppercase;
}

p {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    
}

#connect-caption {
    text-transform: initial;
    margin-bottom: 0px;
    
}

#portfolio-graphics .fp-overflow {
    justify-content: start;
    padding-top: 90px;
}

.portfolio-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.portfolio-row img {
    margin: 26px;
}

#portfolio-sample .fp-overflow {
    justify-content: start;
    padding-top: 20px;
}

.portfolio-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portfolio-sample h4 {
    margin-bottom: 10px;
}

@media (max-width:1779px) {
    .homepage-division h1{
        font-size: 60px;
    }

    .homepage-division h4{
        font-size: 24px;
    }

    #resumepage h1, #portfoliopage h1, #connectpage h1{
        font-size: 100px;
    }

    #resumepage h4, #portfoliopage h4, #connectpage h4{
        font-size: 30px;
    }
}

@media (max-width:1639px) {
    .homepage-division h1{
        font-size: 50px;
    }

    .homepage-division h4{
        font-size: 19px;
    }
}
@media (max-width:1499px) {
    .homepage-division h1{
        font-size: 45px;
    }
}

@media (max-width:1399px) {
    .homepage-division {
        width: 40%;
    }
}

@media (max-width:1299px) {
    .homepage-division {
        width: 30%;
    }
}

@media (max-width:1099px) {
    .homepage-division {
        width: 20%;
    }

    .button-row button {
        font-size: 15px;

    }
}

@media (max-width:1022px) {
    .homepage-division {
        width: 100%
    }

    .section#homepage {
        background-image: none;
        background-color: white;
    }

}

@media (max-width:859px) {
    #resumepage h1, #portfoliopage h1, #connectpage h1{
        font-size: 80px;
    }

    #resumepage h4, #portfoliopage h4, #connectpage h4{
        font-size: 25px;
    }
}

@media (max-width:719px) {

    #resumepage h4, #portfoliopage h4, #connectpage h4{
        width: 80%
    }
}

@media (max-width:320px) {
    #resumepage h1, #portfoliopage h1, #connectpage h1 {
        font-size: 50px;
    }

    #resumepage h4, #portfoliopage h4{
        width: 50%
    }
    #connectpage h4 {
        font-size: 20px;
    }

    #connectpage .socials-logo {
        height: 45px;
        width: 45px;
    }
}

@media (max-width:425px) {
    .buttons-portfolio .button-black {
        display: block;
        margin: 0;
    }
}
